<main class="main-daily">
  <header>
    <div class="header-container">
      <img (click)="toggleSidenav()" src="../../assets/icons/menu.svg" alt="" />
      <h5>My Stories</h5>
    </div>
  </header>

  <div class="date-picker">
    <div class="inner-date-picker">
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input
          readonly
          matStartDate
          formControlName="start"
          placeholder="Start date"
        />
        <input
          readonly
          matEndDate
          formControlName="end"
          placeholder="End date"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker touchUi="true" #picker></mat-date-range-picker>
    </div>
  </div>
  <div class="daily-stories-body">
    @for (story of stories; track $index) {
    <div (click)="goToStory(story)" class="daily-stories-item row">
      <div class="img">📖</div>

      {{ story.date | date : "EEEE, dd MMMM yyyy" }}
    </div>
    }
  </div>
</main>
