<main class="main story">
  <header class="header-story">
    <div class="header-container">
      <img (click)="toggleSidenav()" src="../../assets/icons/menu.svg" alt="" />
      <h5>My Life</h5>
    </div>
  </header>
  <h4>{{ peep.name }}</h4>
  <div contenteditable="true" id="story-body" class="story-body">
    {{ peep.about }}
  </div>

  <div class="mentions">
    <span class="mention-title">Mentioned in :</span>
    <div class="mention-container">
      @for (dayChat of peep.dayChats; track $index) {

      <div (click)="goToStory(dayChat)" class="daily-stories-item row">
        <div class="img">📖</div>

        {{ dayChat.date | date : "EEEE, dd MMMM yyyy" }}
      </div>

      }
    </div>
  </div>
</main>
