<main class="main story">
  <header class="header-story">
    <div class="header-container">
      <img (click)="toggleSidenav()" src="../../assets/icons/menu.svg" alt="" />
      <h5>My Life</h5>
    </div>
  </header>
  <h4>{{ peep.name }}</h4>
  <div contenteditable="true" id="story-body" class="story-body">
    {{ peep.about }}
  </div>

  <div class="mentions">
    <span>Mentioned in :</span>
    <div class="mention-container">
      @for (mention of peep.mentions; track $index) {

      <div class="mention-item">{{ mention }}</div>

      }
    </div>
  </div>
</main>
