.story-body {
  color: black;
  padding: 35px;
  line-height: 30px;
  padding-top: 22px;
  text-align: justify;
  font-size: 15px;
}
.main.story {
  overflow-y: auto;
}

.header-story {
  position: sticky;
  top: 0;
  z-index: 10;
}

h4 {
  margin-top: 20px;
  color: black;
  text-align: center;
}
.daily-stories-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: var(--black-text-color);
  background-color: var(--main-bg-color);
}
.main-daily {
  height: 100%;
  background-color: var(--main-bg-color);
}

.row {
  width: 80%;
  margin-bottom: 20px;
  height: 50px;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.041);
  justify-content: flex-start;
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 10px;
  color: var(--row-text-color);

  .img {
    margin-bottom: 7px;
    margin-left: 10px;
    font-size: 17px;
  }
}

.mention-container {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.mention-title {
  color: black;
  font-size: 15px;
  font-weight: 700;
  padding: 35px;
}
