<main>
  <header>
    <div class="header-container">
      <svg
        (click)="toggleSidenav()"
        xmlns="http://www.w3.org/2000/svg"
        height="30px"
        viewBox="0 -960 960 960"
        width="30px"
        fill="var(--black-text-color)"
      >
        <path
          d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
        />
      </svg>

      <h5>{{ group.name }}</h5>
    </div>
  </header>
  <div class="daily-stories-body">
    <svg
      (click)="onBackClick()"
      class="back back-group"
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="var(--info-text-color)"
    >
      <path
        d="M360-200 80-480l280-280 56 56-183 184h647v80H233l184 184-57 56Z"
      />
    </svg>
    @for (result of results; track $index) {
    <div (click)="goToResult(result)" class="daily-stories-item row">
      <div class="img">📖</div>

      {{ result.date | date : "EEEE, dd MMMM yyyy" }}
    </div>
    }
  </div>
</main>

@if (showLoaders) {

<div class="loader">
  <app-loader></app-loader>
</div>
}
