.row {
  width: 90%;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.041);
  align-items: center;
  justify-content: flex-start;
  display: flex;
  font-size: 17px;
  color: rgb(37, 37, 37);
  img {
    margin-left: 25px;
    margin-right: 35px;
  }
}

.input {
  border: none;
  padding-left: 25px;
  width: 70%;
  color: hsl(15, 100%, 57%);
  outline: none;
}

.emoji-picker {
  transform: translateX(-50%);
}

.icon-input {
  width: 14%;
  padding: 0;
  text-align: center;
  margin: 0;
  border-radius: 10px 0 0 10px;
}

.icon-input::placeholder {
  font-size: 14px;
}

.category-input {
  width: 72%;
  margin: 0;
  border-radius: 0 10px 10px 0;
  transform: translateX(2px);
}

.category-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.category-input-container.textarea {
  margin-top: 30px;
}

.textarea-input {
  width: 86%;
}

.taskForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container {
  width: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.041);
  .input {
    width: 92%;
    margin: 0;
    box-shadow: none;
  }
}

main {
  background-color: whitesmoke;
}

textarea {
  flex: none;
  height: 150px !important;
}

.save {
  margin-inline: auto;
  width: 86%;
  height: 60px;
  background-color: #55ad90;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.041);
  font-size: 17px;
  color: white;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  margin-left: auto;
}

.back {
  margin-top: 10px;
  margin-left: 15px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .emoji-mart-preview {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
