<main>
  <header>
    <div class="header-container">
      <svg
        (click)="toggleSidenav()"
        xmlns="http://www.w3.org/2000/svg"
        height="30px"
        viewBox="0 -960 960 960"
        width="30px"
        fill="var(--black-text-color)"
      >
        <path
          d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
        />
      </svg>

      <h5>Memory Groups</h5>
    </div>
  </header>

  <div cdkDropList class="list" (cdkDropListDropped)="drop($event)">
    @for (group of groups; track $index) {
    <div
      (click)="onGroupClick(group)"
      appLongPress
      (longPress)="onLongPress($event, group)"
      class="home-card example-box"
      cdkDrag
    >
      <div class="group-name-container">
        <span>{{ group.icon }} </span>
        <span class="category-name"> {{ group.name }}</span>
      </div>
      <div class="util-icons-container">
        @if (showUtilsIcons) {

        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="22px"
          viewBox="0 -960 960 960"
          width="22px"
          fill="#e8eaed"
          (click)="onEditClick($event, group)"
        >
          <path
            d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="22px"
          viewBox="0 -960 960 960"
          width="22px"
          fill="#EA3323"
          (click)="onDeleteClick($event, group)"
        >
          <path
            d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
          />
        </svg>
        }
      </div>
    </div>
    }
  </div>
  <svg
    class="add"
    xmlns="http://www.w3.org/2000/svg"
    height="58px"
    viewBox="0 -960 960 960"
    width="58px"
    fill="var(--primary-color)
"
    (click)="onAddClick()"
  >
    <path
      d="M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Zm40 200q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"
    />
  </svg>
</main>

@if (showLoaders) {

<div class="loader">
  <app-loader></app-loader>
</div>
}
