main {
  width: 100%;
  height: 100%;
  /* background-color: #1c263a;   dark mode */
  background-color: whitesmoke;
}

header,
.sidenav-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

header {
  /* color: #fff; */
  font-size: 18px;
  letter-spacing: 1px;
  width: 100%;
  color: #55ad90;
}
h5 {
  font-size: 18px;
}

.sidenav-item {
  cursor: pointer;
  /* color: #fff; */
  color: #55ad90;
  font-size: 16px;
  letter-spacing: 1px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.active-route {
  color: #fff;
  background-color: #55ad90;
  border: none;
  outline: none;

  svg {
    fill: #fff;
  }
}
