<main>
  <h4>{{ date | date : "EEEE, dd.MMM.yyyy" }}</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ducimus
    debitis iure tempora odit tenetur! Nulla eligendi nihil ullam, ut illum, et
    minima numquam quibusdam minus natus eos, incidunt veritatis error fuga. At
    odit suscipit maxime quis cum magni sed doloremque eius quam et perferendis
    placeat recusandae alias officia laboriosam atque distinctio molestiae
    architecto, debitis est. Veritatis est maiores officia eius consequatur cum
    qui quam laboriosam ipsam velit. Tenetur explicabo quas voluptatum.
    Distinctio beatae, nostrum enim voluptatum esse repudiandae natus rem id
    fuga dicta quo delectus eligendi obcaecati nihil, atque nisi sunt dolor ab
    et! Rerum saepe placeat necessitatibus sequi perferendis ea mollitia? Totam
    veritatis quod quis mollitia inventore distinctio hic nemo nam nulla
    delectus. Dolore deserunt voluptatum, eaque quibusdam in reiciendis unde
    commodi atque possimus illo asperiores laborum fuga rem ipsa nihil,
    veritatis praesentium doloremque incidunt perspiciatis dolorem! Doloribus
    impedit expedita qui enim error alias sed quo deserunt aperiam aliquid,
    harum porro maiores aspernatur, dignissimos adipisci quaerat, rem ratione
    incidunt voluptates suscipit vitae totam. Eligendi voluptatum officiis
    beatae excepturi possimus. Repellendus nisi doloribus itaque voluptate
    fugiat, non, minima et nobis veniam quidem, perspiciatis delectus ullam
    harum at. Tempora nostrum dolorum tempore vero optio eius nulla non,
    molestias ducimus at temporibus quae, cumque sapiente. Veniam, consequatur
    explicabo. Numquam a neque quibusdam sunt dignissimos minima itaque eos
    nesciunt iste consequuntur, nisi in placeat atque! Nesciunt voluptate magni
    veniam expedita ipsa delectus recusandae dolorum ea, velit earum harum
    libero perferendis accusantium commodi et, officiis, adipisci sit qui
    consectetur vel! Earum cum et vitae, molestiae aut asperiores. Inventore
    repellat, aut delectus nam accusamus id dolor ipsa perspiciatis nemo
    provident ut corporis sapiente, ea, officia voluptatibus voluptas! Aliquid
    maiores laboriosam earum eos facilis animi in labore aperiam voluptas
    ducimus, illo nam laborum distinctio exercitationem autem, sunt, cum magni
    nihil! Suscipit at sint vel, iste minima ea repudiandae fuga sunt dolores
    eaque omnis optio, voluptatibus culpa! Tempore, porro fuga. Nesciunt
    debitis, exercitationem tenetur laboriosam labore odit laborum reiciendis
    repellendus itaque tempora nulla eaque pariatur dicta similique quae nemo
    obcaecati vel magni iure repellat numquam. Mollitia voluptatum, odit sit
    culpa excepturi doloremque nemo veniam adipisci quisquam deleniti blanditiis
    eaque non voluptatibus est aut! Pariatur sapiente facere earum perspiciatis?
    Hic, asperiores sunt eligendi repellat odio magni quidem sequi aliquam
    cumque. Eaque dolores possimus atque veritatis fuga quaerat! Impedit autem
    soluta vero sed accusamus dolores. Reprehenderit, in ex. Veritatis tenetur
    rem eligendi repellendus quae, optio quibusdam cupiditate asperiores earum
    eum deleniti nam obcaecati magni facilis debitis itaque libero enim quos
    quia molestiae reiciendis! Dolorem, dolor! Consectetur optio nisi recusandae
    atque excepturi aliquid sit modi eius quos, expedita illo repellendus minima
    quam temporibus quisquam alias deserunt animi, odit a dolorum quo aliquam?
    Ratione enim, inventore eligendi ex exercitationem, voluptatem deserunt
    animi quis nostrum vero labore? Omnis sint ducimus totam quo quaerat dicta
    dolores error, sit corporis perspiciatis. Consectetur quis id sint ex atque
    adipisci saepe aut ratione assumenda rem obcaecati, perspiciatis quo!
    Provident, facilis nemo. Voluptates, maiores, quisquam voluptatibus et
    voluptas nemo rerum perferendis quod atque consectetur amet debitis?
  </p>
  <div class="img-container">
    @for (src of imgSrcs; track $index) {
    <img [src]="src" alt="" />

    }
  </div>
</main>
