/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "@ctrl/ngx-emoji-mart/picker";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font: 14px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  --primary-color: #eb3678;
  --main-bg-color: whitesmoke;
  --secondary-bg-color: white;
  --header-shadow: rgba(65, 252, 180, 0.2) 0 15px 30px -5px;
  --header-border-color: linear-gradient(144deg, #40ff70, #42f3c7 50%, #00eb9d);
  --text-gradient: -webkit-linear-gradient(
    74deg,
    #42f46e 0,
    #317c57 9%,
    #00ff95 20%,
    #0bf817 24%,
    #00af43 35%,
    #4285f4 44%,
    #18aaee 50%,
    #369bb9 56%,
    #131314 75%,
    #131314 100%
  );

  --black-text-color: #000;
  --title-color: #4d4d4d;
  --sent-text-color: #fff;
  --row-text-color: #252525;
}

body.dark {
  --main-bg-color: #212121;
  --secondary-bg-color: #121212;
  --black-text-color: #fff;
  --title-color: #b3b3b3;
  --row-text-color: #dadada;
}
